
.top-container img
{
    margin-right: 40px;

}
.lib
{
    margin-top: 40px;
    image-resolution: auto;
}
.lowerc img
{
    margin-botttom: 50px;
    image-resolution: auto;
    margin-right: 50px;
}